p {
  size: 4rem;
}

.card-panel {
  width: 50%;
  background-color: white;
}

body {
  background-image: url("https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
}

h2 {
  font-family: 'Old Standard TT', serif;
}
